{{> admin-nav}}

<div class="addNewCategory">
  <form action="/admin/categories" method="POST">
    <input type="text" name="name" placeholder="write a category name..." required="required">
    <button type="submit" class="btn success">ADD</button>
  </form>
</div>

{{#if sessionFlash.message}}
    <div class="alert-success-message">
        {{sessionFlash.message}}
    </div>
{{/if}}

<table class="table-users">
  <tr>
    <th>Name</th>
    <th>Delete</th>
    <th>Edit</th>
  </tr>
  {{#each categories}}
  <tr>
    <td>{{name}}</td>
    <td>
        <form action="/admin/categories/{{_id}}?_method=DELETE" method="POST">
            <input type="hidden" name="_method" value="DELETE">
            <button type="submit" class="btn danger">DELETE</button>
        </form>
    </td>
    <td>
        <a href="/admin/categories/edit/{{_id}}" class="btn edit">EDIT</a>
      </form>
    </td>
  </tr>
  {{/each}}
</table>