<table class="table-users">
  <tr>
    <th>E-mail</th>
    <th>Username</th>
    <th>Delete</th>
    <th>Edit</th>
  </tr>
  {{#each users}}
  <tr>
    <td>{{email}}</td>
    <td>{{username}}</td>
    <td>
        <form action="/admin/{{_id}}?_method=DELETE" method="POST">
            <input type="hidden" name="_method" value="DELETE">
            <button type="submit" class="btn danger">DELETE</button>
        </form>
    </td>
    <td>
        <a href="/admin/users/edit/{{_id}}" class="btn edit">EDIT</a>
      </form>
    </td>
  </tr>
  {{/each}}
</table>