<ul class="nav">
    <li><a href="/">Home</a></li>
    {{#unless displayLink}}
    <li><a href="/users/login">Login</a></li>
    <li><a href="/users/register">Register</a></li>
    {{/unless}}
    {{#if displayLink}}
    <li><a href="/users/logout">Logout</a></li>
    {{/if}}
</ul>
