<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">

    <!-- Custom CSS -->
    <link rel="stylesheet" href="/css/style.css">

    <title>Buyer</title>
</head>

<body>