<div class="cart">
    <ul>
        {{#each user.cart}}
            <li>
                <img src="{{product_image}}">
                <p>{{name}}</p>
                <p>{{price}}TL</p>
            </li>
        {{/each}}
    </ul>
</div>



            



