<form action="/users/register" method="POST">
    <ul class="credential">
        <li class="form-title">
            <h3>Register</h3>
        </li>
        <li>
            <input class="form-control" name="username" type="text" placeholder="Username *" required="required">
        </li>
        <li>
            <input class="form-control" name="email" type="text" placeholder="E-mail *" required="required">
        </li>
        <li>
            <input class="form-control" name="password" type="password" placeholder="Password *" required="required">
        </li>
        <li>
            <button class="form-control" type="submit">Register</button>
        </li>
    </ul>
</form>